body {
    margin: 0;
    padding: 0;
}
section {
    width: 100%;
    min-height: 800px;
}
.wave {
    margin-top: 3.5em;
    position: relative;
    background: linear-gradient(90deg, #f0027f, #75489f);
}
.wave::before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 320px;
background: url(../../../assets/wave.png);
background-size: cover;
background-repeat: no-repeat;
}